<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <%- include("partials/head.ejs") %>
    </head>
    <body>
        <main class="container">
            <h1 class="title">TO-DO</h1>
            <nav class="sectionCategories">
                <ul>
                    <li><a class="option" href="/tasks">All</a></li>
                    <% for (let i = 0; i < categories.length; i++){ %>
                        <li><a href="/tasks?c=<%=categories[i]%>"><%=categories[i]%></a></li>
                    <% } %>
                </ul>
                <div id="newCategoryBtn" class="optionBtn">New category</div>
            </nav>
            <div class="sectionTasks">
                <!--
                <div class="task">
                    <div class="taskInfo">
                        <div class="taskTitle">Assignment</div>
                        <div class="taskCategory">Category</div>
                    </div>
                    <div class="taskBtn">
                        <div class="completedBtn"></div>
                    </div>
                </div>
                -->
                <% if(locals.day){ %>
                    <div class="infoTask"> <%= day %> left tasks</div>
                <% } %>
                <% if(tasks.length > 0){ for(let i = 0; i < tasks.length; i++){
                %>
                <div class="task<%= tasks.completed?' completedTask':null%>">
                    <div class="taskInfo">
                        <div class="taskTitle"><%=tasks[i].title%></div>
                        <div class="taskCategory"><%=tasks[i].category%></div>
                    </div>
                    <div class="taskBtn">
                        <div class="completedBtn"></div>
                    </div>
                </div>
                <% } } else {%>
                <div class="noTasks">No tasks left</div>
                <% } %>
            </div>
            <div class="SectionExtra">
                <!--
                <div id="tasksLeft" class="extraInfo"> <%= tasks.length %> task(s) left</div>
                -->
                <div class="newBtn" id="newTaskBtn">
                    <i class="bi bi-plus"></i>
                </div>
            </div>
        </main>
        <footer class="copyright">
            © Copyright <%= new Date().getFullYear() %>
        </footer>

        <!--new task modal-->
        <div class="overlay hidden" id="modalOverlay"></div>
        <div class="modal hidden" id="newTaskModal">
            <div class="modalHeader">
                <div class="modalTitle">New Task</div>
                <button class="modalClose" id="closeModalTaskBtn">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="modalBody">
                <form action="/newTask" method="post" id="taskForm">
                    <div class="modalInput">
                        <input
                            type="text"
                            placeholder="Enter new task"
                            name="task"
                        />
                        <button
                            id="addTaskBtn"
                            type="submit"
                            class="addBtn"
                            disabled
                        >
                            Add
                        </button>
                    </div>
                    <div class="modalOptions">
                        <label>Category</label>
                        <select name="category">
                            <% for (let c of categories) { %> 
                                <option value="<%= c %>" <%= c==="Today"? "selected":"" %> > <%= c %></option>
                            <% } %>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <!--new category modal-->
        <div class="modal hidden" id="newCategoryModal">
            <div class="modalHeader">
                <div class="modalTitle">New Category</div>
                <button class="modalClose" id="closeModalCategoryBtn">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="modalBody">
                <form action="/newCategory" method="post">
                    <div class="modalInput">
                        <input
                            type="text"
                            placeholder="Enter new category"
                            name="category"
                        />
                        <button
                            id="addCategoryBtn"
                            type="submit"
                            class="addBtn"
                            disabled
                        >
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <%- include("partials/scripts.ejs") %>
    </body>
</html>
